<% provide(:title, 'Qoute') %> <!DOCTYPE html>

<%= simple_form_for @quote do |f| %>  
	<div class = "qouteWrapper">
		<h1 class = "large-12 columns qoute-title">
		Request a free qoute
		</h1>

		<p class = "qoute-title-content">
		Tell us in the following steps what you're looking for or send an e-mail to <span>info@atmosphericevents.com</span>
		</p>


		<section class = "qoute-form-wrapper">
			<div class = "row">
				<div class = "qoute-form-innerwrapper">

				<div class = "qoute-form-title">
					<i class="fa fa-user"></i>
					<p>We would love to hear from you.</p>
				</div>


				<div class="large-6 small-12 columns">
					<%= f.input :fullname, label: false, placeholder: "Fullname", error: "Name is mandatory, please specify one" %>
				</div>


				<div class="large-6 small-12 columns">
					<%= f.input :email, label: false, placeholder: "Email", error: "Email is mandatory, please specify one" %>
				</div>


				<div class="large-6 small-12 columns">
					<%= f.input :phone, label: false, placeholder: "Phone", error: "Phone is mandatory, please specify one" %>
				</div>

				<div class="large-6 small-12 columns">
					<%= f.input :date, label: false, placeholder: "Event Date", error: "Phone is mandatory, please specify one" %>
				</div>

				<div class="large-6 small-12 columns">
					<%= f.input :type, label: false, placeholder: "Type of Event", error: "Phone is mandatory, please specify one" %>
				</div>

				<div class="large-6 small-12 columns">
					<%= f.input :guest, label: false, placeholder: "Number of Guests", error: "Phone is mandatory, please specify one" %>
				</div>


				<%= f.button :submit %>
				
				</div	>
			</div	>
		</section>
	</div>
<% end %>