<% provide(:title, 'Service') %> <!DOCTYPE html>

<div class = "moduler">

	<div class="moduler-image service-home-image">
	</div>

	<div class = "moduler-head">
		<div class = "row">
			<h1 class = "large-12 columns">
				SERVICE
				<hr>
				<p>
				DESIGN IS OUR PASSION. WITH YOU AS OUR CLIENT, WE WILL AIM FOR ONLY EXCELLENT RESULTS. AN END PRODUCT WORTHY OF YOUR NAME.
				</p>
			</h1>
		</div>

	</div>

</div>



<div class = "row service-content">

	<div class = "large-4 columns">
		<div class = "service-image service-img-one"></div>
		<h3>WEDDING PLANNING</h3>
		<hr>
		<p>
		We take a step to know who you are and your vision. We are 100% present through your entire project. Yes we are there all for you from the conception to completion stage. Just to make the day prideful yours! Sound interesting.
		</p>

		<div class = "service-qoute">
			<%= link_to "<button>VIEW OUR PORTFOLIO'</button>".html_safe, new_quote_path, :class => "service-qoute" %>
		</div>
	</div>

	<div class = "large-4 columns">
		<div class = "service-image service-img-two"></div>
		<h3>WEDDING COORDINATION </h3>
		<hr>
		<p>
		We take our design seriously, originality, detail symmetry and balancing is what we do. Our Gallery says it all.
		</p>

		<div class = "service-qoute">
			<%= link_to "<button>VIEW OUR PORTFOLIO'</button>".html_safe, new_quote_path, :class => "service-qoute" %>
		</div>
	</div>

	<div class = "large-4 columns">
		<div class = "service-image service-img-three"></div>
		<h3>EVENT DESIGN</h3>
		<hr>
		<p>
		Atmospheric events, founded in 2002 by Mary Leye, is a dash dash dash that produces dash dash dash for their clients. Atmospheric events stands for dash and dash.
		</p>

		<div class = "service-qoute">
			<%= link_to "<button>VIEW OUR PORTFOLIO'</button>".html_safe, new_quote_path, :class => "service-qoute" %>
		</div>
	</div>

	<div class = "service-qoute-small-wrapper">
		<div class = "large-12 columns">

			<div class = "large-4 columns">
				<div class = "service-qoute-small">
					<%= link_to "<button>VIEW OUR PORTFOLIO'</button>".html_safe, new_quote_path, :class => "service-qoute" %>
				</div>
			</div>

			<div class = "large-4 columns">
				<div class = "service-qoute-small">
					<%= link_to "<button>VIEW OUR PORTFOLIO'</button>".html_safe, new_quote_path, :class => "service-qoute" %>
				</div>
			</div>

			<div class = "large-4 columns">
				<div class = "service-qoute-small">
					<%= link_to "<button>VIEW OUR PORTFOLIO'</button>".html_safe, new_quote_path, :class => "service-qoute" %>
				</div>
			</div>

		</div>
	</div>

</div>