<!-- <footer class="row">
  <div class="large-12 columns">

        <div class="large-4 columns footer-right">
          <%= image_tag("final_logo_circle-min.png",  height: '0', width: '8%', alt: "Atmospheric Events") %>
          <p>2015 ATMOSPHERIC EVENTS</p>
        </div>

        <div class="large-4 columns footer-center">
            <ul class="inline-list right">
              <%= link_to 'SERVICE', atmospheric_pages_service_path, :wrap_tag => :li %>
              <%= link_to 'GALLERY', atmospheric_pages_gallery_path, :wrap_tag => :li %>
              <%= link_to 'CONTACT', atmospheric_pages_contact_path, :wrap_tag => :li %>
              <%= link_to 'ABOUT', atmospheric_pages_about_path, :wrap_tag => :li %>
            </ul>
        </div>

        <div class="large-4 columns footer-left">
            <ul class="inline-list right">
              <a href="https://twitter.com/atmosphericevnt" class="fa fa-facebook-square"></a>
              <a href="https://twitter.com/eventbrite" class="fa fa-twitter-square"></a>
              <a href="https://instagram.com/atmosphericevents" class="fa fa-instagram"></a>
            </ul>
        </div>

  </div>
</footer> -->