<div class = "contain-to-grid fixed">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <ul class="title-area">
      <li class="logo">
        <a href="/" title="Atmospheric events : Makes every moment count">
          <%= image_tag("final_logo-min.png",  height: '0', width: '100%', alt: "Atmospheric Events") %>
        </a>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <%= active_link_to 'SERVICE', atmospheric_pages_service_path, :wrap_tag => :li %>
        <%= active_link_to 'GALLERY', atmospheric_pages_gallery_path, :wrap_tag => :li %>
        <%= active_link_to 'CONTACT', atmospheric_pages_contact_path, :wrap_tag => :li %>
        <%= active_link_to 'ABOUT', atmospheric_pages_about_path, :wrap_tag => :li %>
        <%= active_link_to 'GET A FREE QOUTE', new_quote_path, :wrap_tag => :li, class: "qouteButton" %>
        
          <i class = 'fa fa-facebook'></i>
          <i class = 'fa fa-twitter'></i>
          <i class = 'fa fa-instagram'></i>
        
      </ul>
    </section>
  </nav>
</div>