<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

     <title>AE | <%= yield(:title) %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      
     <header id="header">
      <%= render 'layouts/header' %>
     </header>


     <section id="content">
        <%= yield %>
     </section>

     <footer id="footer">
      <%= render 'layouts/footer' %>
     </footer>
      


  </body>
</html>

<nav class="main">
        <div class="logo"></div>       
        <ul class="nav-bar right"></ul>       
     </nav>